<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD

    <link rel="stylesheet" href="css/style.css">

    <title>NoteBook</title>
</head>
<body>
    <h1>Create a Notebook by clicking button below</h1>
    <div class="btn">
    <a class="noteBtn" href="/notes">My Notebook</a>
    </div>

=======
    <title>NoteBook</title>
</head>
<body>
    <h1>Add items to your NoteBook by clicking the button below</h1>
    <a href="/notes"> My NoteBook</a>
>>>>>>> 97073f9abc494748a899bed7bb6c8da3b76d519c
</body>
</html>